.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  border-bottom: 1px solid #dae7e3;
  filter: drop-shadow(0px 4px 8px rgba(89, 118, 96, 0.05));
}

.content,
.footerContent {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.footer {
  background-color: #4caf50;
  margin-top: 40px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #d4fdd6;

  padding: 30px 0;
}

.footerMenu {
  display: flex;
  gap: 16px;
}
